html {
    --background-default-active: #ebebeb;
    --background-default-hover: #f5f5f5;
    --border-list: #f2f2f2;
    --border-stronger: rgba(0, 0, 0, 0.08);
    --bubble-meta: rgba(0, 0, 0, .45);
    --conversation-panel-background: #e5ddd5;
    --conversation-panel-border: rgba(0, 0, 0, 0.03);
    --incoming-background-deeper: #f0f0f0;
    --incoming-background: #fff;
    --message-primary: #303030;
    --notification-biz-background: rgba(236, 250, 245, 0.95);
    --notification-biz-text: rgba(0, 0, 0, 0.96);
    --notification-e2e-background: rgba(255, 245, 196, 0.95);
    --notification-e2e-text: rgba(0, 0, 0, 0.96);
    --outgoing-background-deeper: #cfe9ba;
    --outgoing-background: #dcf8c6;
    --panel-header-background: #ededed;
    --primary-strong: #000;
    --secondary-lighter: rgb(0, 0, 0, 0.45);
    --secondary: rgb(0, 0, 0, 0.6);
    --shadow-rgb: 0, 0, 0;
    --system-message-background: rgba(225, 245, 254, 0.92);
    --system-message-text: rgba(0, 0, 0, 0.88);
    --unread-marker-background: #06d755;
    --unread-marker-text: #fff;

    color: #4a4a4a;
    font-family: sans-serif;
    font-feature-settings: "kern";
    line-height: 2.6ex;
    text-rendering: optimizeLegibility;
}

/* Reset. */
body,
html,
figure,
menu,
p,
ul
{
    margin: 0;
    padding: 0;
}

/* Full-screen app. */
body,
html
{
    height: 100%;
    width: 100%;
}

/*
 *
 * Index.
 *
 */

/* Side-by-side root boxes. */
iframe,
menu
{
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    overflow: hidden auto;
    vertical-align: top;
}

menu {
    width: 35%;
}

menu > li {
    display: flex;
    flex-direction: row;
}

menu > li:hover {
    background-color: var(--background-default-hover);
}

/* Chat avatar. */
menu > li > :not(:last-child) {
    flex: none;
    padding: 1.25ex 0 1.25ex 1em;
}

/* Chat description. */
menu > li > :last-child {
    border-top: var(--border-list) solid thin;
    overflow: hidden;
    flex: auto;
    padding: 1.25ex 1em;
}

menu .avatar {
    height: 6ex;
}

menu a {
    text-decoration: none;
}

/* Chat description: side-by-side boxes. */
menu p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Chat description: name. */
menu p:first-child {
    color: var(--primary-strong);
}

/* Chat description: details. */
menu p:not(:first-child) {
    color: var(--secondary);
    font-size: smaller;
}

/* Chat description: text. */
menu p :first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Chat description: timestamp. */
menu time {
    color: var(--secondary-lighter);
    font-size: small;
}

/* Chat description: unseen count. */
menu .unseen {
    background-color: var(--unread-marker-background);
    border-radius: 1em;
    color: var(--unread-marker-text);
    font-size: small;
    line-height: 1em;
    min-height: 1em;
    min-width: 1em;
    padding: .4em;
    text-align: center;
}

/*
 *
 * Conversation.
 *
 */

iframe {
    background-color: var(--conversation-panel-background);
    border-bottom: 0;
    border-left: var(--conversation-panel-border) solid thin;
    border-right: 0;
    border-top: 0;
    width: 65%;
}

.conversation {
    display: flex;
    flex-direction: column;
}

/* Header: side-by-side boxes. */
header {
    align-items: center;
    background-color: var(--panel-header-background);
    border-bottom: var(--border-stronger) solid thin;
    color: var(--primary-strong);
    display: flex;
    flex: none;
}

header > * {
    margin: 1.25ex 1em;
}

header > :not(:last-child) {
    margin-right: 0;
}

header .avatar {
    height: 5ex;
}

/* Group: participants. */
header ul {
    color: var(--secondary);
    font-size: small;
}

header li {
    display: inline;
}

header li:not(:first-child)::before {
    content: ', ';
}

/* Conversation: stacked boxes. */
main {
    align-items: center;
    background-color: var(--conversation-panel-background);
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow: auto;
    padding: 1ex 6%;
}

main > * {
    border-radius: .75ex;
    box-shadow: 0 1px .5px rgba(var(--shadow-rgb), .13);
    margin-top: 1.5ex;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Notifications and system messages. */
div.notification-biz,
div.notification-e2e,
div.system
{
    font-size: small;
    padding: 1ex 1em;
}

div.inbound,
div.outbound
{
    color: var(--message-primary);
    max-width: min(90%, max(63%, 35em));
    padding: 1ex;
}

div.notification-biz {
    background-color: var(--notification-biz-background);
    color: var(--notification-biz-text);
}

div.notification-e2e {
    background-color: var(--notification-e2e-background);
    color: var(--notification-e2e-text);
}

div.system {
    background-color: var(--system-message-background);
    color: var(--system-message-text);
}

/* Group image changed messages. */
div.system img {
    border-radius: 50%;
    height: 10ex;
    margin: 1ex;
    vertical-align: middle;
}

div.inbound {
    align-self: flex-start;
    background-color: var(--incoming-background);
}

div.outbound {
    align-self: flex-end;
    background-color: var(--outgoing-background);
}

/* Successive texts from the same person are closer together. */
div.outbound + div.outbound {
    margin-top: .2ex;
}

/* Message timestamps. */
div.inbound > time,
div.outbound > time
{
    color: var(--bubble-meta);
    float: right;
    font-size: smaller;
}

/* Sender in groups. */
div.sender {
    color: #9b0;
    font-size: small;
}

/* Message deleted. */
p.note {
    font-style: italic;
    color: var(--secondary-lighter);
}

/* Quoted messages, excepts from linked content. */
blockquote {
    border-left: #9b0 solid .5ex;
    border-radius: .75ex;
    color: var(--secondary);
    font-size: small;
    margin: 0 0 1ex 0;
    padding: 1ex;
}

.inbound blockquote {
    background-color: var(--incoming-background-deeper);
}

.outbound blockquote {
    background-color: var(--outgoing-background-deeper);
}

/* Embedded media. */
figure img,
figure object,
figure video
{
    border-radius: .5ex;
    max-width: 100%;
}

.sticker {
    display: block;
    width: 8em;
}

/* Avatars in index and header. */
.avatar {
    border-radius: 50%;
    display: block;
}

.avatar > img {
    height: 100%;
}
